


header{
    color: rgb(9, 78, 9);
    font-size: 30px;
}
section{
    height: 600px;
}
.Navigation{
    padding: 20px 10px;
    width: 100%;

}
a{
    color: white;
    margin-left:1cm;
    margin-right: auto;
    text-decoration: none;
}
footer{
    color: white;
   text-align: center;
   font-size: 25px;
}
textarea{
    border-color: white;
    
}
.Login{
    float: right;
    margin-right: 20px;
}

